/*
  Revature June 21, 2021 Salesforce Batch - Team Vanquish/Fab5 - Project 2 -->
  Recreating Project 1's Visualforce Sellers_Page.page functionality using Lightning Aura Web Components -->
  Jeremy Davis
*/

.THIS {
}
.THIS.slds-card.slds-theme_success {
    background-color: rgb(75, 202, 129);
}
